# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/

# Chroma vector DB
chroma_langchain_db/

# IDE/editor files
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs and temporary files
*.log

# Python environment
*.env
.env.*
